body {
    background-color: black;
    color: white;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

dfn {
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.block {
    margin: 8px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4em;
    color: rgb(244, 244, 244);
    width: 100%;
}

main {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 1rem;
}

hr {
    margin: 1.5em auto;
    position: relative;
    height: 9px;
    width: 9px;
    border: transparent;
    overflow: visible;
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');

    &:before {
        position: absolute;
        height: 9px;
        width: 10px;
        content: '';
        background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
        left: -18px;
    }

    &:after {
        position: absolute;
        height: 9px;
        width: 9px;
        content: '';
        background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
        right: -18px;
    }
}